{% load cms_tags menu_tags sekizai_tags i18n %}
{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Libre">
    <meta name="author" content="Paul Laros">
    <link rel="shortcut icon" href="favicon.ico">

    <title>Theme for jamaisabortar</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserart:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,600" rel="stylesheet">

    <!-- Vendor Styles -->
    <link href="{% static "css_src/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css_src/ionicons.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css_src/animate.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css_src/slippry.css" %}" rel="stylesheet" media="screen">

    <!-- Theme Styles -->

    <link href="{% static "css_src/libre.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css_src/libre-themes.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css_src/custom.css" %}" rel="stylesheet" media="screen">

    <script src="{% static "js/pace.min.js" %}"></script>


    <!-- Themeswitcher - REMOVE THIS LINE -->
    <link href="" rel="stylesheet">
    <link href="{% static "css_src/themeswitcher.css" %}" rel="stylesheet" media="screen">

    <!-- HTML5 shiv for IE8 support -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->

      {% render_block "css" %}


		{% block extrahead %}
		{% endblock extrahead %}
  </head>

  <body>
  {% cms_toolbar %}

    {% show_menu 0 100 100 100 "menu.html" %}



    <div class="header page" style="background-image:url({% static 'images/photos/travel/unsplash-1.jpg' %})">

      <div class="vertical-center">
        <div class="container">
          <div class="content">
            <span class="post-tag">Bootstrap Theme</span>
            <h1 style="font-size:42px;">Libre</h1>
          </div>
        </div>
      </div>

    </div>


  <!-- CONTENT -->
        {% block content %}
        {% endblock content %}


    <footer id="footer">
      <div id="links">
        <div class="container">
          <div class="row">

            <div class="col-sm-2">
              <a class="brand" href="index.html"><i class="ion ion-aperture spin-on-hover"></i></a>
            </div>

            <div class="col-sm-10 text-right">
              <ul class="list-inline">
                <li class="active"><a href="home-travel.html">Stories</a></li>
                <li><a href="page-about.html">About</a></li>
                <li><a href="page-contact.html">Contact us</a></li>
                <li><a href="https://wrapbootstrap.com/user/paullaros" target="_blank">Buy</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
        {% block content_footer %}
        {% endblock content_footer %}
    </footer>

    <!-- Themeswitcher - REMOVE THESE LINES -->
    <div class="themeswitcher">
      <div class="toggle"><i class="ion ion-wand"></i></div>
      <div class="colors">
        <h4>Theme Colour</h4>
        <div class="color orange btn btn-default btn-block" data-color="orange"></div>
        <div class="color green btn btn-default btn-block" data-color="green"></div>
        <div class="color red btn btn-default btn-block" data-color="red"></div>
        <div class="color blue btn btn-default btn-block" data-color="blue"></div>
        <div class="color yellow btn btn-default btn-block" data-color="yellow"></div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="{% static "js_src/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "js_src/bootstrap.min.js" %}"></script>
    <script src="{% static "js_src/slippry.min.js" %}"></script>
    <script src="{% static "js_src/main.js" %}"></script>


  {% render_block "js" %}





    <script>
      $(function(){
        $('#features-slider').slippry({
          transition: 'horizontal',
          controls: false,
        });
      });
    </script>

    <!-- Themeswitcher - REMOVE THIS LINE -->
    <script src="{% static "js_src/themeswitcher.js" %}"></script>

  </body>
</html>
