{% extends "base.html" %}
{% load url from future %}

{% block body %}
  <h2>Kategorien {{ category.name }} hat {{ project_amount }} Produkte</h2>

    {% if child_categories %}
    <h3>Sub Kategorien</h3>
        <ol>
        {% for child in child_categories %}
            <li><a href="{{ child.get_absolute_url }}">{{ child.name }} </a></li>
        {% endfor %}
        </ol>
    {% endif %}

    {% if products %}
        <ul>
            {% for project in projects %}
                <li>
                    {{ project.name }}
                    <a href="{% url 'product_detail' product.slug %}">{{project.name}}</a><br />
                    <br />
                    {{project.description | safe}}<br />
                    {{project.descriptionlink|safe}}<br />
                    <br />

                    {{project.urllink}}<br />
                    <br />
                    <br />
                </li>

            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


