{% extends "base.html" %}
{% load cms_tags i18n app_filters%}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}
	{% placeholder "content" %}
	<div ng-app="jn_contact_module" >
		
	<form ng-controller="ContactCtrl" name="{{ form.form_name }}" action="" method="post" novalidate>
		{% csrf_token %}
		
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
        	{% if form.errors %}
        		{{field.errors}}
            {% endif %}
            {{ field.help_text }}
            
            	{% if field.field.widget|class_name == "Textarea" %}
            	<div class="field full" >
            		
            		<textarea name="{{ field.name }}" ng-model="{{field.name}}" pattern=".+"  placeholder="{{field.name}}">{{field.value|default_if_none:""}}</textarea>
            		<label>{{ field.label}}</label>
            	</div>
            	{% else %}
            	<div class="field" >
            		
            		<input id="id_{{field.name}}" type="text" ng-model="{{field.name}}" pattern=".+"  placeholder="{{field.name}}" name="{{field.name}}" value="{{field.value|default_if_none:""}}">
            		
            		<label>{{ field.label}}</label>
            	</div>
            	{% endif %}
            
        {% endfor %}
		<div class="clear"></div>
		<!--<button type="submit">{% trans "Senden" %}</button>-->
		<!-- <button type="submit" class="btn btn-primary" ng-disabled="{{ form.form_name }}.$invalid">{% trans "Senden" %}</button> -->
		<!-- <button ng-click="submit()">{% trans "Senden" %}</button> -->
		<input type="submit" class="btn" ng-disabled="{{ form.form_name }}.$invalid" value="{% trans 'Senden' %}">
		<div class="clear"></div>
	</form>
	</div>
	<script type="text/javascript">
	
		
		var my_app = angular.module('jn_contact_module', [/* other dependencies */, 'ng.django.forms']);
		my_app.config(function($httpProvider) {
		    $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
		});
		my_app.constant('urls', {
		    contact_view_url: "{% url 'contact_form' %}",
		    thanks_view_url: "{% url 'thank_you' %}",
		});
		my_app.controller('ContactCtrl', function($scope, $http) {
			$scope.name = 'jeff';
		    $scope.submit = function() {
		        var in_data = { name: $scope.name, email: $scope.email, phone: $scope.phone, message: $scope.message, csrfmiddlewaretoken: $scope.csrfmiddlewaretoken, };
		        $http.post(urls.contact_view_url, in_data)
		            .success(function(out_data) {
		                $location.path(urls.thanks_view_url);
		                //$window.location.href = urls.thanks_view_url;
		            });
		    }
		});
	</script>
{% endblock content %}

{% block extrahead %}
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<link href="{{ STATIC_URL }}djangular/css/styles.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}djangular/css/bootstrap3.css" rel="stylesheet" />
{% endblock %}

