{% load menu_tags i18n %}

<nav class="navbar navbar-libre navbar-absolute-top">


      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><i class="ion ion-aperture spin-on-hover"></i></a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">


              {% for child in children %}



                {% if child.children %}
                    <li class="dropdown {% if child.selected %}active{% endif %}">

                        <a class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}<i class="icon-down-open"></i></a>

                        <ul class="dropdown-menu">
                            {% for sub_child in child.children %}
                                <li class="{% if child.selected %}active{% endif %}">
                                    <a href="
                                            {{ sub_child.attr.redirect_url|default:sub_child.get_absolute_url }}">{{ sub_child.get_menu_title }} </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="{% if child.selected %}active{% endif %}">

                        <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>

                    </li>
                {% endif %}



            {% endfor %}

{% language_chooser "project/language_chooser.html" %}
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>

