<footer id="footer">
		<div class="container">
			<div class="row">

				<div class="col-sm-12">

					<ul class="social-links">
						<li><a href="https://www.facebook.com/jefferson.notaro" class="wow fadeInUp"><i class="fa fa-facebook"></i></a></li>
						<!--<li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".1s"><i class="fa fa-twitter"></i></a></li>
						<li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-pinterest"></i></a></li>-->
                        <li><a href="https://plus.google.com/117846898592220231751/" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="mailto:info@jeffersonnotaro.ch" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-envelope"></i></a></li>
					</ul>

					<p class="heart">
                        Mit <span class="fa fa-heart fa-2x animated pulse"></span> und Django
                    </p>
                    <p class="copyright">
                        © {% now "Y" %} Jefferson Notaro | Switzerland
					</p>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</footer>