{% load i18n menu_tags cms_tags %}

{% if languages|length > 1 %}

        <li class="lang dropdown" data-toggle="dropdown">
            <a href="{% page_url 'home' %}" class="dropdown-toggle" data-toggle="dropdown">{{ current_language }} <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                {% for language in languages %}
                    {% if current_language != language.0 %}
                        <li>
                            <a href="http://localhost:8000{% page_language_url language.0 %}" title="{{ language.1 }}">{{ language.0 }}</a>
                        </li>
                    {% else %}

                    {% endif %}
                {% endfor %}
            </ul>
        </li>

{% endif %}
