{% load menu_tags i18n %}

<ul class="nav navbar-nav navbar-right">

    {% for child in children %}
        <li class="{% if child.selected %}active{% endif %}">

            <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>

        </li>
    {% endfor %}

</ul>